h6{
    font-family:cursive;
    padding: 2px;
}

h5{
  font-family: cursive;
}

* {box-sizing: border-box}

.dropdown-menu {
  width: 250px;
  background-color: rgb(212, 157, 167);
  outline: black, solid, 4px;
}

.filterboxes {
  padding-left: 10px;
}

.filterrows {
  padding-right: 10px;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}


.signin {
  background-color: #f1f1f1;
  text-align: center;
}

.topright {
  position: absolute;
  right: 0;
  top: 0
}
.navlink {
  color: black; 
  font-family: cursive;
  
}

.navlink:hover {
  color: black;
  text-decoration: none;
}

.card-img-top {
  width: 250px;
  height: 180px;
  padding: 10px;
}

.small {
  font-family: cursive;
}
